.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(229,239,255);
  background: linear-gradient(180deg, rgba(229,239,255,1) 0%, rgba(2,0,36,1) 100%);
}
.App iframe{
  border-radius: 10px;
  box-shadow: 4px 4px 15px #252525;
  
}